{% extends 'Message:Mothership:ReferAFriend::refer_a_friend:cp:dashboard' %}

{% block slideAttr 'data-slide-loaded' %}

{% block slide %}
    <div class="container-content create-page extended">
        {% for type in rewardTypes %}
            <a class="option-block" href="{{ url('ms.cp.refer_a_friend.set_options', {'type': type.name}) }}" data-load-form>
                <p class="type"><strong>{{ type.displayName | trans }}</strong></p>
                <p>{{ type.description | trans }}</p>
            </a>
        {% endfor %}
        <div id="options-form"></div>
    </div>

    {% javascripts
        '@Message:Mothership:ReferAFriend::resources/assets/js/create.js'
        output='/assets/js/ms_refer_a_friend_create.js'
        filter='?jsmin'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}