<div id="refer_a_friend">
    {# Include the form from a separate file to allow developers to override this view without having to override the form itself #}
    {% include '::refer_a_friend:front_end:refer_a_friend_form' %}
</div>